body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.shopContainerHover{
  background-color: white;
}

.shopContainerHover:hover{
  background-color: #edf2ff;  
}

.sidebarList li{
  padding: 5px 0 5px 20px;
  display: flex;
  align-items: center;
  margin: 3px 5px 3px 0px;
  border-radius: 0 5px 5px 0;
  color: rgba(0,0,0,.75);
  /* margin-left: 20px; */
  /* justify-content: center; */
}
.sidebarList li:hover{
  background-color: rgba(0,0,0,.035);
  cursor: pointer;
}

/* .sidebarList li{
  padding: 5px 0px 5px 0px;
  display: flex;
  align-items: center;

} */
